{#
/**
 * @file slack_sender.html.twig
 * Default theme implementation to present Slack sender data.
 *
 * This template is used when viewing Slack sender pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_slack_sender()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('slack_sender') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
