{#
/**
 * @file slack_app.html.twig
 * Default theme implementation to present Slack App data.
 *
 * This template is used when viewing Slack App pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_slack_app()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('slack_app') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
